div(class="footer")
  div(class="container-fluid")
    div(class="row")
      div(class="col-12 col-md-6")
        div(class="title")
          i(class="fa fa-edit fa-2x")
          h4 من نحن
        div(class="text")
          | مذا النص سيتم استبدالة مذا النص سيتم استبدالة مذا النص سيتم استبداة  مذا النص سيتم استبدالة مذا النص سيتم استبدالة مذا النص سيتم استبدالة مذا النص سيتم استبدالة
        div(class="social")
          i(class="fab fa-instagram fa-2x")
          i(class="fab fa-twitter fa-2x")
          i(class="fab fa-facebook fa-2x")
      div(class="col-12 col-md-6")
        div(class="image")
          img(src="imgs/sofra logo.png" alt="image")
