div(class="header")
  div(class="container-fluid")
    div(class="row")
      div(class="col-12 col-md-4")
        ul(class="flex")
          li: i(class="fa fa-user-circle fa-2x")
          li: input(type="search")
      div(class="col-12 col-md-4")
          div(class="image")
            img(src="imgs/sofra logo.png" alt="image")
      div(class="col-12 col-md-4")
        div(class="burger")
          i(class="fa fa-hamburger fa-2x")
        div(class="clear-fix")
