div(class="orders")
  div(class="container-fluid")
    div(class="row")
      div(class="col")
        div(class="new-orders")
          h5 طلبات جديدة
      div(class="col")
        div(class="current-orders")
          h5 طلبات حالية
      div(class="col")
        div(class="pervious-orders")
          h5 طلبات سابقة
