.footer {
  background-image: url(../imgs/footerbg.png);
  background-size: cover;
  background-position: center;
  min-height: 200px;
  color: #fff;
  padding: 30px 0;
  .title {
    text-align: right;
    i {
      color: #00eed1;
    }
    h4 {
      display: inline-block;
      margin-right: 15px;
    }
  }
  .text {
    text-align: right;
    line-height: 2;
    padding: 0 0 0 136px;
    margin-top: 30px;
  }
  .social {
    text-align: right;
    margin-top: 30px;
    i {
      display: inline-block;
      margin-left: 20px
    }
  }
  .image {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      width: 50%
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .title {
      text-align: center;
    }
    .text {
      text-align: center;
      padding: 0;
    }
    .social {
      text-align: center;
    }
    .image {
      margin-top: 20px;
      justify-content: center;
    }
  }
}
