doctype html
html(dir="rtl")
  head
    meta(charset="UTF-8")
    title cart
    include pug/csslinks
  body
    
    // start header 
    include pug/header
    // end header 
    
    // start cart 
    div(class="cart")
    // end cart 
    
    // start footer 
    include pug/footer
    // end footer 
    
    include pug/jslinks
