doctype html
html(dir="rtl")
  head
    meta(charset="UTF-8")
    title home
    include pug/csslinks
  body
    
    // start header
    include pug/header
    // end header
    
    // start banner
    div(class="banner")
      div(class="head")
        p بستشترى .. بتبيع ؟ كله عند ام ربيع
        img(src="imgs/Register-now.png" alt="image")
    // end banner
    
    // start your favorite food
    div(class="fav-food")
      div(class="title")
        h2 ابحث عن طعامك المفضل
      div(class="container-fluid")
        form(action="GET")
          div(class="row")
            div(class="col")
              input(type="text" placeholder="اختر المدينة")
            div(class="col")
              input(type="search" placeholder="ابحث عن طعامك المفضل")
        div(class="foods")
          div(class="row")
            div(class="col-12 col-lg-6")
              div(class="lists")
                div(class="image")
                  img(src="imgs/res-img.png" alt="image")
                div(class="details")
                  div(class="brand")
                    h3 دجاج كنتاكى
                  div(class="rate")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                  div(class="unlock") مفتوح
                  div(class="min-order") الحد الادنى للطلب: 60 ريال
                  div(class="dilivery") رسوم التوصيل: 10 ريال
                div(class="clear-fix")
            div(class="col-12 col-lg-6")
              div(class="lists")
                div(class="image")
                  img(src="imgs/res-img.png" alt="image")
                div(class="details")
                  div(class="brand")
                    h3 دجاج كنتاكى
                  div(class="rate")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                  div(class="unlock") مفتوح
                  div(class="min-order") الحد الادنى للطلب: 60 ريال
                  div(class="dilivery") رسوم التوصيل: 10 ريال
                div(class="clear-fix")
          div(class="row")
            div(class="col-12 col-lg-6")
              div(class="lists")
                div(class="image")
                  img(src="imgs/res-img.png" alt="image")
                div(class="details")
                  div(class="brand")
                    h3 دجاج كنتاكى
                  div(class="rate")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                  div(class="unlock") مفتوح
                  div(class="min-order") الحد الادنى للطلب: 60 ريال
                  div(class="dilivery") رسوم التوصيل: 10 ريال
                div(class="clear-fix")
            div(class="col-12 col-lg-6")
              div(class="lists")
                div(class="image")
                  img(src="imgs/res-img.png" alt="image")
                div(class="details")
                  div(class="brand")
                    h3 دجاج كنتاكى
                  div(class="rate")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                  div(class="unlock") مفتوح
                  div(class="min-order") الحد الادنى للطلب: 60 ريال
                  div(class="dilivery") رسوم التوصيل: 10 ريال
                div(class="clear-fix")
          div(class="row")
            div(class="col-12 col-lg-6")
              div(class="lists")
                div(class="image")
                  img(src="imgs/res-img.png" alt="image")
                div(class="details")
                  div(class="brand")
                    h3 دجاج كنتاكى
                  div(class="rate")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                  div(class="unlock") مفتوح
                  div(class="min-order") الحد الادنى للطلب: 60 ريال
                  div(class="dilivery") رسوم التوصيل: 10 ريال
                div(class="clear-fix")
            div(class="col-12 col-lg-6")
              div(class="lists")
                div(class="image")
                  img(src="imgs/res-img.png" alt="image")
                div(class="details")
                  div(class="brand")
                    h3 دجاج كنتاكى
                  div(class="rate")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                    i(class="fa fa-star fa-2x")
                  div(class="unlock") مفتوح
                  div(class="min-order") الحد الادنى للطلب: 60 ريال
                  div(class="dilivery") رسوم التوصيل: 10 ريال
                div(class="clear-fix")
    // end your favorite food
    
    // start a lot of offers
    div(class="offers")
      div(class="container-fluid")
        div(class="row")
          div(class="col-12 col-md-6")
            div(class="image")
              img(src="imgs/offers.png" alt="image")
          div(class="col-12 col-md-6")
            div(class="text")
              div(class="overlay")  
              p نقدم فى سفرة افضل العروض لكل انواع المطاعم و الاكلات الشهية و المهلبية ماذا تنتظر ابدا الاستمتاع با العروض الان
              a(href="#"): button شاهد الان
    // end a lot of offers
    
    // start our app
    div(class="our-app")
      div(class="container-fluid")
        div(class="title")
          h4 قم بتحميل التطبيق الخاص بنا الان
        div(class="row")
          div(class="col-12 col-md-6")
            div(class="image image-btn")
              img(src="imgs/download button.png" alt="image")
          div(class="col-12 col-md-6")
            div(class="image")
              img(src="imgs/app-download.png" alt="image")
    // end our app
    
    // start footer
    include pug/footer
    // end footer
    
    
    include pug/jslinks
    
