doctype html
html(dir="rtl")
  head
    meta(charset="UTF-8")
    title register-1
    include pug/csslinks
  body
    
    // start header 
    include pug/header
    // end header 
    
    // start register-1 
    div(class="register-1")
      div(class="container-fluid")
        form
          div(class="image")
            img(src="imgs/use-img.png" alt="image")
          input(type="text" placeholder="الاسم")
          input(type="email" placeholder="البريد الالكترونى")
          input(type="submit" value="دخول")
          div(class="row")
            div(class="col-12 col-md-6")
              span(class="new-user") مستخدم جديد ؟
            div(class="col-12 col-md-6")
              span(class="forg-psw") نسيت كلمة السر ؟
          a(href="#"): button انشاء حساب الان
    // end register-1 
    
    // start footer 
    include pug/footer
    // end footer 
    
    include pug/jslinks
